.contact-container{
    background-color: #c3b1e1;
    padding: 20px 0;
    width: 100%;
    overflow-x: hidden;

}
.contact-layout{
    margin: 40px auto;
    padding: 0 40px;
    text-align: center;
    max-width: 67rem;
}
.contact-header{
    font-size: 48px;
    color: #702670;
    font-weight: medium;
}
.contact-paragraph{
    font-size: 18px;
    
}
form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
input{
width: 50vw;
padding: 0.8rem;
border-radius: 1rem;
margin-bottom: 1.5rem;
outline: none;
border: 1px solid #702670;
background-color: transparent;
box-shadow: -2px 0px 7px 2px rgba(184,136,178,0.75);
-webkit-box-shadow: -2px 0px 7px 2px rgba(184,136,178,0.75);
-moz-box-shadow: -2px 0px 7px 2px rgba(184,136,178,0.75);
}
textarea{
    width: 50vw;
    height: 5rem;
    border-radius: 1rem;
    outline: none;
    border: 1px solid #702670;
    padding: 0.8rem;
    background-color: transparent;
    box-shadow: -2px 0px 7px 2px rgba(184,136,178,0.75);
    -webkit-box-shadow: -2px 0px 7px 2px rgba(184,136,178,0.75);
    -moz-box-shadow: -2px 0px 7px 2px rgba(184,136,178,0.75);
}