.footer-container{
    background-color: #c3b1e1;
    padding: 20px 5px;
    width: 100vw;
   
}
.footer-layout{
    margin: 10px auto;
    text-align: center;
}
.social-logo{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    margin-right: 0.8rem;
}