.footer-container{
    background-color: #c3b1e1;
    padding: 20px 0;
    width: 100%;
    overflow-x: hidden;
   
}
.footer-layout{
    margin: 10px auto;
    text-align: center;
    max-width: 67rem;
}
.social-logo{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    margin-right: 0.8rem;
}